     <p>¿Qué <strong>pregunta</strong> quieres buscar?</p>
    <!-- <input class=textBuscador type="text" name="search" value ="<%= search%>"> -->
     <input type="text" name="search" value="<%= search%>" onclick="if(this.value=='<%= search%>') this.value=''" onblur="if(this.value=='') this.value='<%= search%>'"  />


     <!--     <p>¿Buscas alguna pregunta ?</p>
     <input type="text" name="search" value ="<%= search%>">
     <input type="submit" value="Enviar" ></div><div> 
     -->


     <input type="submit" value="Encuentralo!" ></div><div> 