

<div class=centraTabla>
<table>

  <% for (var i in quizzes) { %>        
     <tr>
        <td>
           <a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
        </td>
        <td>
           <a href="/quizzes/<%= quizzes[i].id %>/edit"><button>editar</button></a>
        </td>
        <td>
           <a href="/quizzes/<%= quizzes[i].id %>?_method=DELETE" 
              onClick="return confirm('Seguro que quieres borrar la pregunta: <%= quizzes[i].question %>');">
              <button>borrar</button>
           </a>
        </td>
     </tr> 
  <% } %>

<hr style="color: #0056b2;" />
<tr>
<td>
  <form method="get" action="/quizzes" > 

     <% include _buscador.ejs %>
 </form>
</td>
</tr>
</table>
</div>
<a href="/quizzes/new"><button type= button>Crear pregunta</button<</a>


