<p>
  <form method="get" action="/quizzes/<%= quiz.id %>/check">        
    <p>
      Pregunta: <%= quiz.question %>
    </p>

    <p>
      <input type="text" name="answer" value="<%= answer %>" placeholder="Respuesta" />
      <input type="submit" value="Comprobar">
    </p>
  </form>
</p>

<BR>

<p><strong>Comentarios:</strong></p>

<ul>
<% if (quiz.Comments.length === 0) {   %>
<p> Este Post no tiene ningún comentario </p>
<% } %>
<% for (var i in quiz.Comments) { %>
	<li> <%=quiz.Comments[i].text %> </li>
<% } %>
</ul>

<BR>
<BR>

<% include ../comments/new.ejs %>

<!--
<p>
  <a href="/quizzes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a>
</p>
-->
<BR>
<BR>